.courses {
    margin-top: 10rem;

    .container-fluid {
        .course-content {
            font-family: var(--primary-font);        
                button {
                @extend %button;
            } 
        }

        .course-video {
            video {
                border-radius: 2rem;
            }
        }
    }
}