.location {
    margin-top: 13rem;
    .map {     
        filter: invert(100%);
    }
    @media(max-width: 650px) {
        margin-top: 7rem;
        .map {
            height: 40vh;  
        }
    }

}