.navbar {
    .container-fluid {
        .navbar-nav {
            .nav-item {
                .nav-link {
                    color: var(--primary-color);

                    &:hover {
                        color: #ff2ceac7 !important;
                        border-bottom: 1px solid #ff2ceac7;
                    }

                    &:focus {
                        color: #ff2ceac7 !important;
                    }
                }
            }
        }

        .switch {
            position: relative;
            display: inline-block;
            width: 70px;
            height: 27px;

            input {
                visibility: hidden;
            }

            .slider {
                position: absolute;
                background-image: linear-gradient(
                    135deg,
                    #8aaff1 10%,
                    #f9c290 50%,
                    #e4ba17 100%
                );
        
                background-size: 100% 100%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: 34px;
            }

            .slider::before {
                position: absolute;
                content: "";
                height: 20px;
                width: 20px;
                right: 5px;
                bottom: 4px;
                background-color: white;
                border-radius: 34px;
                transition: 1s;
            }

            .slider::after {
                content: "";
                position: absolute;
                height: 11px;
                width: 11px;
                left: 8px;
                top: 5px;
                background-color: rgb(249, 249, 153);
                box-shadow: 0px 0px 8px 1px rgb(244, 244, 112);
                border-radius: 34px;
                transition: 1s;
            }

            input:checked + .slider {
                background-image: linear-gradient(
                    135deg,
                    #c33764 20%,
                    #002746 60%,
                    #1d2671 20%
                );
            }

            input:checked + .slider:after {
                transform: translateX(43px);
                background-color: white;
            }

            input:checked + .slider:before {
                transform: translateX(-41px);
            }
        }

        .user-auth {
            .nav-link {
                color: var(--text-color);
            }

            // .sign-btn {
            //     border-color: var(--text-color);
            // }
        }

    }
}
