.products-section {
    margin-top: 11rem;
    font-family: var(--primary-font);
    // position: relative;
    // z-index: 0;

    // &::before {
    //     content: " ";
    //     position: absolute;
    //     z-index: -1;
    //     left: 0rem;
    //     top: 28.625rem;
    //     background: url("./assets/product-ellipse/Ellipse\ \(7\).png") no-repeat left / cover;
    //     height: 39.5rem;
    //     width: 21.5rem;
    // }

    // &::after {
    //     content: " ";
    //     position: absolute;
    //     z-index: -1;
    //     right: 0rem;
    //     top: 36.375rem;
    //     background: url("./assets/product-ellipse/Ellipse\ \(8\).png") no-repeat right / cover;
    //     height: 39.5rem;
    //     width: 21.5rem;
    // }
    
    
    .products {
        
        .product-box {
            border: 2px solid #3846C3;
            background-color: var(--product-card);
            box-shadow: 6px 6px 40px #cb25bb90;


            .product-logo {
                img {
                    height: 3rem;
                }
            }
            

            .content {    
                p {
                    padding-inline: 5rem;
                    font-size: 1.2rem;
                }

                @media (max-width: 1200px) {
                    p {
                        padding-inline: 2rem;
                    }
                }
                @media (max-width: 500px) {
                    p {
                        font-size: 1rem;
                    }
                }
            }
    
            .started-btn {
                font-size: 1.6rem;
                line-height: 2.5rem;
                font-weight: 500;
                background-image: linear-gradient(to right,#5422BE, #E087FD);
                font-family: var(--primary-font);
                color: var(--text-color);
                width: 80%;
                min-height: 3.5rem;
                border-radius: 6px;
                border: none;
                margin-top: auto;
                transition: all 0.5s ease;
                cursor: pointer;

                &:hover {
                box-shadow: 0px 0px 5px 4px #5422BE;
                }
            }
       } 

    } 
}