.risk-section {
    font-family: var(--primary-font);
    margin-top: 9rem;
    
    &::before {
        content: " ";
        position: absolute;
        z-index: -1;
        top: -7.5rem;
        left: 0rem;
        background: url("./assets/risk-ellipse/Ellipse\ \(5\).png") no-repeat left / contain;
        width: 47.5rem;
        height: 47.5rem;
    }
    &::after {
        content: " ";

        position: absolute;
        z-index: -1;
        top: -10.563rem;
        left: -7.563rem;
        background: url("./assets/risk-ellipse/Ellipse\ \(6\).png") no-repeat left / cover;
        width: 32rem;
        height: 49rem;
    }

    .container-fluid {
        border-radius: 2.5rem;
        background-color: var(--risk-container);
        .risk-value {
            font-size: 4rem;
            border-right: 8px solid #5422BE;

            @media (max-width: 576px) {
                font-size: 3rem;
            }
        }
    }
}


