.security-cultures {
    font-family: var(--primary-font);
    margin-top: 5rem;
    // position: relative;
    // z-index: 0;

    // &::before {
    //     content: " ";
    //     position: absolute;
    //     z-index: -1;
    //     top: -5.313rem;
    //     left: 0rem;
    //     background: url("./assets/security-culture-ellipse/Ellipse\ \(3\).png") no-repeat left / cover;
    //     width: 21rem;
    //     height: 28.563rem;
    // }

    // &::after {
    //     content: " ";
    //     position: absolute;
    //     z-index: -1;
    //     top: -3.313rem;
    //     right: 0rem;
    //     background: url("./assets/security-culture-ellipse/Ellipse\ \(4\).png") no-repeat right / cover;
    //     width: 20.5rem;
    //     height: 47.5rem;
    // }

    .sec-heading {
        font-family: var(--primary-font);
    } 

    .sec-cards {
        background-color: var(--sec-card-container);
        border-radius: 20px;

        .card {
            width: 36.6%;
            border-radius: 20px;
            min-height: 21.375rem;
            background-color: var(--sec-card);
            transition: all 1s ease;

            &:hover {
                box-shadow: 0px 0px 9px 4px var(--text-color);
                transform: translateY(-4px);
            }

            img {
                height: 8rem;
                width: 8rem;
            }

            .card-text {
                font-size: 12px;
            }
        }
    }

    @media (max-width: 990px) {
        margin-top: 8rem;
    }
    // @media (max-width: 1000px) {
    //     padding-inline: 2rem; 
    //     .sec-cards {
    //         flex-direction: column;
    //         gap: 2rem;

    //         div {
    //             width: 100%;
    //             min-height: 18.375rem;
    //         }
    //     }
    // }

    // @media (max-width: 700px) {
    //     padding-inline: 2rem;
    //     .sec-cards {
    //         padding: 2rem 1.5rem;
    //     }
    // }

    // @media (max-width: 570px) {
    //    .sec-heading {
    //     font-size: 1.5rem;
    // } 
    // }

}