:root {
  --bg-color: white;
  --text-color: black;
  --primary-font: "Kanit", sans-serif;
  --sec-card-container: rgba(62, 60, 60, 0.3);
  --sec-card: rgba(142, 141, 141, 0.1);
  --secondary-color: #FFFFFFB2;
}

[data-bs-theme=dark] {
  --bg-color: black;
  --text-color: white;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.hero-section .container-fluid .hero-content .hero-btn {
  font-size: 1.25rem;
  outline: none;
  cursor: pointer;
  color: var(--text-color);
  padding: 8px 5rem 8px 5rem;
  border-radius: 6px;
  border: 1px solid transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(black)) padding-box, -webkit-gradient(linear, left top, right top, from(#5422BE), to(#E087FD)) border-box;
  background: linear-gradient(black) padding-box, linear-gradient(to right, #5422BE, #E087FD) border-box;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.hero-section .container-fluid .hero-content .hero-btn:hover {
  -webkit-box-shadow: 0px 0px 8px 7px #5422BE;
          box-shadow: 0px 0px 8px 7px #5422BE;
}
@media (max-width: 370px) {
  .hero-section .container-fluid .hero-content .hero-btn {
    font-size: 1rem;
  }
}

.navbar .container-fluid .navbar-nav .nav-item .nav-link {
  color: var(--primary-color);
}
.navbar .container-fluid .navbar-nav .nav-item .nav-link:hover {
  color: rgba(255, 44, 234, 0.7803921569) !important;
  border-bottom: 1px solid rgba(255, 44, 234, 0.7803921569);
}
.navbar .container-fluid .navbar-nav .nav-item .nav-link:focus {
  color: rgba(255, 44, 234, 0.7803921569) !important;
}
.navbar .container-fluid .theme-switcher .switch {
  position: relative;
  display: inline-block;
  width: 4.375rem;
  height: 1.7;
}
.navbar .container-fluid .theme-switcher .switch .slider {
  position: absolute;
  background-image: linear-gradient(135deg, #8aaff1 10%, #f9c290 50%, #e4ba17 100%);
  background-size: 100% 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 2.125rem;
}
.navbar .container-fluid .theme-switcher .switch .slider::before {
  position: absolute;
  content: "";
  height: 1.25rem;
  width: 1.25rem;
  right: 0.2rem;
  bottom: 0.13rem;
  background-color: white;
  border-radius: 2.125rem;
  -webkit-transition: 1s;
  transition: 1s;
}
.navbar .container-fluid .theme-switcher .switch .slider::after {
  content: "";
  position: absolute;
  height: 0.688rem;
  width: 0.688rem;
  left: 0.5rem;
  top: 0.313rem;
  background-color: rgb(249, 249, 153);
  -webkit-box-shadow: 0px 0px 8px 1px rgb(244, 244, 112);
          box-shadow: 0px 0px 8px 1px rgb(244, 244, 112);
  border-radius: 2.125rem;
  -webkit-transition: 1s;
  transition: 1s;
}
.navbar .container-fluid .theme-switcher .switch input:checked + .slider {
  background-image: linear-gradient(135deg, #c33764 20%, #002746 60%, #1d2671 20%);
}
.navbar .container-fluid .theme-switcher .switch input:checked + .slider:after {
  -webkit-transform: translateX(2.688rem);
          transform: translateX(2.688rem);
  background-color: white;
}
.navbar .container-fluid .theme-switcher .switch input:checked + .slider:before {
  -webkit-transform: translateX(-2.7rem);
          transform: translateX(-2.7rem);
}
.navbar .container-fluid .user-auth .nav-link {
  color: var(--text-color);
}
.navbar .container-fluid .user-auth .sign-btn {
  border-color: var(--text-color);
}

.hero-section .container-fluid .hero-content .pinkish-purple {
  color: rgba(255, 44, 234, 0.7803921569);
}
.hero-section .container-fluid .hero-img {
  position: relative;
}
.hero-section .container-fluid .hero-img .circle {
  position: absolute;
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}
.hero-section .container-fluid .hero-img .circle1 {
  background-image: url("./assets/hero-section-ellipse/circle-ellipse-1.png");
  width: 13.5rem;
  height: 7.5rem;
  right: 0rem;
  top: 1.437rem;
}
.hero-section .container-fluid .hero-img .circle2 {
  background-image: url("./assets/hero-section-ellipse/circle-ellipse-2.png");
  width: 7rem;
  height: 2.3rem;
  left: 1.875rem;
  top: 1.125rem;
}
.hero-section .container-fluid .hero-img .circle3 {
  background-image: url("./assets/hero-section-ellipse/circle-ellipse-3.png");
  width: 6.5rem;
  height: 4.5rem;
  left: 0rem;
  top: 5.813rem;
}
.hero-section .container-fluid .hero-img .circle4 {
  background-image: url("./assets/hero-section-ellipse/circle-ellipse-4.png");
  width: 4.063rem;
  height: 1.188rem;
  left: -2.188rem;
  bottom: 6rem;
}

.security-cultures {
  font-family: var(--primary-font);
}
.security-cultures .sec-heading {
  font-family: var(--primary-font);
}
.security-cultures .sec-cards {
  background-color: var(--sec-card-container);
  border-radius: 20px;
}
.security-cultures .sec-cards .card {
  width: 36.6%;
  border-radius: 20px;
  min-height: 21.375rem;
  background-color: var(--sec-card);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.security-cultures .sec-cards .card:hover {
  -webkit-box-shadow: 0px 0px 9px 4px var(--text-color);
          box-shadow: 0px 0px 9px 4px var(--text-color);
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}
.security-cultures .sec-cards .card img {
  height: 8rem;
  width: 8rem;
}
.security-cultures .sec-cards .card .card-text {
  font-size: 12px;
}