:root {
  --bg-color: white;
  --text-color: black;
  --primary-font: "Kanit", sans-serif;
  --sec-card-container: rgba(62, 60, 60, 0.3);
  --sec-card: rgba(142, 141, 141, 0.1);
  --secondary-color: #FFFFFFB2;
  --risk-container: rgba(0,0,0,0.3);
  --product-card: #B305E733;
}

[data-bs-theme=dark] {
  --bg-color: black;
  --text-color: white;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.courses .container-fluid .course-content button, .hero-section .container-fluid .hero-content .hero-btn {
  font-size: 1.25rem;
  outline: none;
  cursor: pointer;
  color: var(--text-color);
  padding: 8px 5rem 8px 5rem;
  border-radius: 6px;
  border: 1px solid transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(black)) padding-box, -webkit-gradient(linear, left top, right top, from(#5422BE), to(#E087FD)) border-box;
  background: linear-gradient(black) padding-box, linear-gradient(to right, #5422BE, #E087FD) border-box;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.courses .container-fluid .course-content button:hover, .hero-section .container-fluid .hero-content .hero-btn:hover {
  -webkit-box-shadow: 0px 0px 8px 7px #5422BE;
          box-shadow: 0px 0px 8px 7px #5422BE;
}
@media (max-width: 370px) {
  .courses .container-fluid .course-content button, .hero-section .container-fluid .hero-content .hero-btn {
    font-size: 1rem;
  }
}

.navbar .container-fluid .navbar-nav .nav-item .nav-link {
  color: var(--primary-color);
}
.navbar .container-fluid .navbar-nav .nav-item .nav-link:hover {
  color: rgba(255, 44, 234, 0.7803921569) !important;
  border-bottom: 1px solid rgba(255, 44, 234, 0.7803921569);
}
.navbar .container-fluid .navbar-nav .nav-item .nav-link:focus {
  color: rgba(255, 44, 234, 0.7803921569) !important;
}
.navbar .container-fluid .theme-switcher .switch {
  position: relative;
  display: inline-block;
  width: 4.375rem;
  height: 1.7;
}
.navbar .container-fluid .theme-switcher .switch .slider {
  position: absolute;
  background-image: linear-gradient(135deg, #8aaff1 10%, #f9c290 50%, #e4ba17 100%);
  background-size: 100% 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 2.125rem;
}
.navbar .container-fluid .theme-switcher .switch .slider::before {
  position: absolute;
  content: "";
  height: 1.25rem;
  width: 1.25rem;
  right: 0.2rem;
  bottom: 0.13rem;
  background-color: white;
  border-radius: 2.125rem;
  -webkit-transition: 1s;
  transition: 1s;
}
.navbar .container-fluid .theme-switcher .switch .slider::after {
  content: "";
  position: absolute;
  height: 0.688rem;
  width: 0.688rem;
  left: 0.5rem;
  top: 0.313rem;
  background-color: rgb(249, 249, 153);
  -webkit-box-shadow: 0px 0px 8px 1px rgb(244, 244, 112);
          box-shadow: 0px 0px 8px 1px rgb(244, 244, 112);
  border-radius: 2.125rem;
  -webkit-transition: 1s;
  transition: 1s;
}
.navbar .container-fluid .theme-switcher .switch input:checked + .slider {
  background-image: linear-gradient(135deg, #c33764 20%, #002746 60%, #1d2671 20%);
}
.navbar .container-fluid .theme-switcher .switch input:checked + .slider:after {
  -webkit-transform: translateX(2.688rem);
          transform: translateX(2.688rem);
  background-color: white;
}
.navbar .container-fluid .theme-switcher .switch input:checked + .slider:before {
  -webkit-transform: translateX(-2.7rem);
          transform: translateX(-2.7rem);
}
.navbar .container-fluid .user-auth .nav-link {
  color: var(--text-color);
}
.navbar .container-fluid .user-auth .sign-btn {
  border-color: var(--text-color);
}

.footer {
  font-family: var(--primary-font);
  margin-top: 12rem;
}
.footer .footer-content {
  padding-inline: 5rem;
}
.footer .footer-content .subscribe {
  border: 0.5px solid #3C64B1;
}
.footer .footer-content .email-input {
  height: 3.125rem;
  outline: none;
  color: #3C64B1;
}
.footer .footer-content .email-input::-webkit-input-placeholder {
  color: #3C64B1;
}
.footer .footer-content .email-input::-moz-placeholder {
  color: #3C64B1;
}
.footer .footer-content .email-input:-ms-input-placeholder {
  color: #3C64B1;
}
.footer .footer-content .email-input::-ms-input-placeholder {
  color: #3C64B1;
}
.footer .footer-content .email-input::placeholder {
  color: #3C64B1;
}
.footer .footer-content .subscribe-btn {
  height: 3rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#B700E5), to(#8733F3));
  background-image: linear-gradient(to bottom, #B700E5, #8733F3);
  font-family: var(--primary-font);
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.footer .footer-content .subscribe-btn:hover {
  -webkit-box-shadow: 0px 0px 5px 4px #5422BE;
          box-shadow: 0px 0px 5px 4px #5422BE;
}
.footer a {
  font-size: 0.875rem;
}
.footer .support .join-us {
  font-family: var(--primary-font);
}
.footer .support .join-us .icons .fa-brands {
  color: var(--text-color);
  cursor: pointer;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-transition: background-color 0.5s ease-in-out 0.05;
  transition: background-color 0.5s ease-in-out 0.05;
}
.footer .support .join-us .icons .fa-youtube:hover {
  background-color: #FF0000;
}
.footer .support .join-us .icons .fa-facebook-f:hover {
  background-color: #1877F2;
}
.footer .support .join-us .icons .fa-twitter:hover {
  background-color: rgb(141, 141, 240);
}
.footer .support .join-us .icons .fa-instagram:hover {
  background-color: #fd7b93;
}
.footer .support .join-us .icons .fa-linkedin-in:hover {
  background-color: #0A66C2;
}
@media (max-width: 768px) {
  .footer .footer-content {
    padding-inline: 1rem;
  }
}
.footer .copy-rights {
  margin-top: 5.5rem;
  height: 2.875rem;
  background-color: #8733F3;
}

.location {
  margin-top: 13rem;
}
.location .map {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}
@media (max-width: 650px) {
  .location {
    margin-top: 7rem;
  }
  .location .map {
    height: 40vh;
  }
}

.hero-section {
  margin-top: 8rem;
}
.hero-section::before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 4rem;
  left: 0rem;
  background: url("./assets/hero-section-ellipse/Ellipse (2).png") no-repeat left/cover;
  width: 22rem;
  height: 35.563rem;
}
.hero-section .container-fluid {
  -webkit-column-gap: 14rem;
     -moz-column-gap: 14rem;
          column-gap: 14rem;
}
.hero-section .container-fluid .hero-content .pinkish-purple {
  color: rgba(255, 44, 234, 0.7803921569);
}
.hero-section .container-fluid .hero-img {
  position: relative;
}
.hero-section .container-fluid .hero-img .circle {
  position: absolute;
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}
.hero-section .container-fluid .hero-img .circle1 {
  background-image: url("./assets/hero-section-ellipse/circle-ellipse-1.png");
  width: 13.5rem;
  height: 7.5rem;
  right: 0rem;
  top: 1.437rem;
}
.hero-section .container-fluid .hero-img .circle2 {
  background-image: url("./assets/hero-section-ellipse/circle-ellipse-2.png");
  width: 7rem;
  height: 2.3rem;
  left: 1.875rem;
  top: 1.125rem;
}
.hero-section .container-fluid .hero-img .circle3 {
  background-image: url("./assets/hero-section-ellipse/circle-ellipse-3.png");
  width: 6.5rem;
  height: 4.5rem;
  left: 0rem;
  top: 5.813rem;
}
.hero-section .container-fluid .hero-img .circle4 {
  background-image: url("./assets/hero-section-ellipse/circle-ellipse-4.png");
  width: 4.063rem;
  height: 1.188rem;
  left: -2.188rem;
  bottom: 6rem;
}
@media (max-width: 1230px) {
  .hero-section .container-fluid {
    -webkit-column-gap: 5rem;
       -moz-column-gap: 5rem;
            column-gap: 5rem;
  }
}

.risk-section {
  font-family: var(--primary-font);
  margin-top: 9rem;
}
.risk-section::before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: -7.5rem;
  left: 0rem;
  background: url("./assets/risk-ellipse/Ellipse (5).png") no-repeat left/contain;
  width: 47.5rem;
  height: 47.5rem;
}
.risk-section::after {
  content: " ";
  position: absolute;
  z-index: -1;
  top: -10.563rem;
  left: -7.563rem;
  background: url("./assets/risk-ellipse/Ellipse (6).png") no-repeat left/cover;
  width: 32rem;
  height: 49rem;
}
.risk-section .container-fluid {
  border-radius: 2.5rem;
  background-color: var(--risk-container);
}
.risk-section .container-fluid .risk-value {
  font-size: 4rem;
  border-right: 8px solid #5422BE;
}
@media (max-width: 576px) {
  .risk-section .container-fluid .risk-value {
    font-size: 3rem;
  }
}

.courses {
  margin-top: 10rem;
}
.courses .container-fluid .course-content {
  font-family: var(--primary-font);
}
.courses .container-fluid .course-video video {
  border-radius: 2rem;
}

.products-section {
  margin-top: 11rem;
  font-family: var(--primary-font);
}
.products-section::before {
  content: " ";
  position: absolute;
  z-index: -1;
  left: 0rem;
  top: 28.625rem;
  background: url("./assets/product-ellipse/Ellipse (7).png") no-repeat left/cover;
  height: 39.5rem;
  width: 21.5rem;
}
.products-section::after {
  content: " ";
  position: absolute;
  z-index: -1;
  right: 0rem;
  top: 36.375rem;
  background: url("./assets/product-ellipse/Ellipse (8).png") no-repeat right/cover;
  height: 39.5rem;
  width: 21.5rem;
}
.products-section .products .product-box {
  border: 2px solid #3846C3;
  background-color: var(--product-card);
  -webkit-box-shadow: 6px 6px 40px rgba(203, 37, 187, 0.5647058824);
          box-shadow: 6px 6px 40px rgba(203, 37, 187, 0.5647058824);
}
.products-section .products .product-box .product-logo img {
  height: 3rem;
}
.products-section .products .product-box .content p {
  padding-inline: 5rem;
  font-size: 1.2rem;
}
@media (max-width: 1200px) {
  .products-section .products .product-box .content p {
    padding-inline: 2rem;
  }
}
@media (max-width: 500px) {
  .products-section .products .product-box .content p {
    font-size: 1rem;
  }
}
.products-section .products .product-box .started-btn {
  font-size: 1.6rem;
  line-height: 2.5rem;
  font-weight: 500;
  background-image: -webkit-gradient(linear, left top, right top, from(#5422BE), to(#E087FD));
  background-image: linear-gradient(to right, #5422BE, #E087FD);
  font-family: var(--primary-font);
  color: var(--text-color);
  width: 80%;
  min-height: 3.5rem;
  border-radius: 6px;
  border: none;
  margin-top: auto;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}
.products-section .products .product-box .started-btn:hover {
  -webkit-box-shadow: 0px 0px 5px 4px #5422BE;
          box-shadow: 0px 0px 5px 4px #5422BE;
}

.security-cultures {
  font-family: var(--primary-font);
  margin-top: 5rem;
}
.security-cultures::before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: -5.313rem;
  left: 0rem;
  background: url("./assets/security-culture-ellipse/Ellipse (3).png") no-repeat left/cover;
  width: 21rem;
  height: 28.563rem;
}
.security-cultures::after {
  content: " ";
  position: absolute;
  z-index: -1;
  top: -3.313rem;
  right: 0rem;
  background: url("./assets/security-culture-ellipse/Ellipse (4).png") no-repeat right/cover;
  width: 20.5rem;
  height: 47.5rem;
}
.security-cultures .sec-heading {
  font-family: var(--primary-font);
}
.security-cultures .sec-cards {
  background-color: var(--sec-card-container);
  border-radius: 1.25rem;
}
.security-cultures .sec-cards .card {
  width: 36.6%;
  border-radius: 1.25rem;
  min-height: 21.375rem;
  background-color: var(--sec-card);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.security-cultures .sec-cards .card:hover {
  -webkit-box-shadow: 0px 0px 9px 4px var(--text-color);
          box-shadow: 0px 0px 9px 4px var(--text-color);
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}
.security-cultures .sec-cards .card img {
  height: 8rem;
  width: 8rem;
}
.security-cultures .sec-cards .card .card-text {
  font-size: 0.75rem;
}
@media (max-width: 990px) {
  .security-cultures {
    margin-top: 8rem;
  }
}